{{ define "main" }}
<a class="td-offset-anchor"></a>
<section class="row td-box td-box--1 position-relative td-box--gradient td-box--height-auto">
	<div class="container text-center td-arrow-down">
		<span class="h4 mb-0">
			<h1>Who are Badge.Team?</h1>
			<p>Badge.Team is a constantly changing group of hackers from all over the world that collaborate on creating awesome event badges. Want to be part of the action? Contact us on Telegram!</p>
		</span>
	</div>
</section>
<div class="td-content">
{{ .Content }}
</div>
{{ end }}
