/*

Add styles or override variables from the theme here.

*/

.navbar-brand .font-weight-bold {
    visibility: hidden;
}

.navbar-brand__name {
    visibility: hidden;
}

.homepage_badges {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    display: grid;
    grid-template-columns: auto auto;
}

.homepage_badges img {
    margin: 30px;
    filter: drop-shadow(3px 5px 2px rgb(0, 0, 0 / 0.4));
    max-width: 90%;
}

.homepage_badges svg {
  filter: drop-shadow(3px 5px 2px rgb(0, 0, 0 / 0.4));
}

.homepage_badges div {
    margin: auto;
}


@media only screen and (max-width: 1000px) {
    .homepage_badges {
        grid-template-columns: auto !important;
    }
    .homepage_badges img {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
